/* .feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .feedback-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .feedback-reset {
    margin-top: 20px;
  } */